@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Slabo+27px&display=swap');

.background {
  background-image: url("/public/images/standards-background.jpg");
  background-size: 100%;
}

.heading {
  color: #8e4742;

}
.content {
  background-color: #e5e0d7;
  max-width: 750px;
  text-align: center;
  margin: 75px auto 20px;
  padding: 10px 20px;
}
header {
  width: 100%;
  position: fixed;
  margin-top: -100px;

}
main {
  display: block;
  text-align: center;
  font-family: 'Slabo 27px', serif;

}
nav {
  display: block;
  align-content: space-between;
  text-align: center;
  background-color: #e5e0d7;
  height: 50px;
  padding: 20px 20px 5px;
  margin: 30px auto 0;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: #8e4742;
  font-family: 'Bebas Neue', cursive;
  align-content: space-between;
  margin: 0 30px;
  font-size: 18px;
}
nav a:hover {
  color: darkred;
}
.individual-lesson {
  text-decoration: none;
  color: #8e4742;
  font-size: 16px;
  font-family: 'Bebas Neue', cursive;
  margin: 0 20px;
  background-color: #e5e0d7;
  border: none;
  transition:all 0.3s ease-out;
}
.individual-lesson:hover {
  color: darkred;
  transform: scale(1.2);
  transition: 0.3s ease;
}
ul {
  list-style: none;
}
Link:hover {
  color: darkred;
  transform: scale(1.2);
  transition: 0.3s ease;
}
h4, h3 {
  font-family: 'Bebas Neue', cursive;
  color: rgba(0, 0, 0, 0.76);
}
.title {
  font-family: 'Slabo 27px', serif;
  color: darkred;
}
.title-black {
  font-family: 'Slabo 27px', serif;
  color: black;
}
.text {
  font-family: 'Slabo 27px', serif;
  font-size: 16px;
}
.standard-name {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}
.box {
  display: block;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  height: 25px;
}
.box-medium {
  display: block;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  height: 50px;
}
.box-large {
  display: block;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  height: 100px
}
form {
  text-align: center;
}

